.layoutcontainer{
    padding : 2px 16px ;
    background-color: wheat;
    display : block;
    margin : 20px 10px;
    border-left: 8px solid blue;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.menuContainer{
    color:yellow;
}